<div class="flex justify-center items-center">
  <div class="card w-96 bg-accent shadow-xl">
    <figure class="px-10 pt-10">
      <% if @park_images.present? %>
        <%= image_tag @park_images.first.url.url %>
      <% else %>
        <%= image_tag 'park.jpg' %>
      <% end %> 
    </figure>
    <div class="card-body items-center text-center">
      <div class="card-actions">
        <%= link_to 'この公園を詳しく見る', "#{park_path(@park)}", class: "bg-accent btn btn-primary", data: { turbo: false } %>
      </div>
    </div>
  </div>
</div>
<div class="text-center pt-5">
  <%= link_to '他の公園を条件で検索する', search_path, class: "text-park hover:bg-slate-200 rounded-lg px-4 py-2", data: { turbo: false } %>
</div>
