<div class="text-7xl text-park text-center font-bold">Tokyo×Picnic</div>

<div class="py-8">
  <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
  <button class="btn btn-primary text-park">Primary</button>
</div>
<div>
  <input type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs py-10" />
</div>