<% if object.errors.any? %>
  <div role="alert" class="alert bg-slate-200 border-none text-park font-semibold shadow-lg mt-5">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>