<dialog id="loading-modal" class="modal" data-loading-target="modal">
  <div class="modal-box flex justify-center items-center">
    <img src="<%= asset_path('loading_sandwitch.gif') %>" alt="Proccesing GIF">
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>