<div>
  <%= link_to t('navbar.logout'), destroy_admin_session_path, data: { turbo_method: :delete}, class: "text-park font-semibold hover:bg-slate-200 rounded-lg px-4 py-2" %>
</div>
<div class="flex-grow container mx-auto px-6 py-5 text-park">
  <div class="flex justify-center items-center pb-8">
    <div class="text-2xl md:text-3xl lg:text-4xl text-park text-center font-bold pb-5 px-8 border-b-2 border-park">
      公園一覧
    </div>
  </div>

  <div class="bg-base-100 rounded-md">
    <% @parks.each do |park| %>
      <div class="flex justify-between border-b-2 py-2 pl-5 h-auto">
        <div class="py-3">
          <%= "#{park.id}" %>
          <%= "#{park.name}" %>
        </div>
        <div class="pr-5">
          <p class="btn btn-primary justify-end">編集</p>
        </div>
      </div>
    <% end %>
  </div>

</div>