<div>
  <%= link_to t('navbar.logout'), destroy_admin_session_path, data: { turbo_method: :delete}, class: "text-park font-semibold hover:bg-slate-200 rounded-lg px-4 py-2" %>
</div>
<h1 class="text-center text-xl">管理者画面</h1>

