@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

.tab-active {
  background-color: #3f6212;
  color: white;
}