.main-container {
  background-image: url('park.jpg');
  height: 800px;
  background-size:cover;
  background-position: center top;
  color: white;
}

.custom-btn:hover {
  color: white; /* テキストの色 */
  border: 2px solid #4CAF50; /* ボーダーの色 */
}

.navbar {
  background-color: #3f6212;
}

.btn-ghost {
  color: #FFFFFF;
}

.btn-ghost:hover {
  color: #FFFFFF;
  background-color: #65a30d;
}

.logo:hover {
  background-color: #3f6212;
}

.btn.custom-btn {
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px #a8c680;
  transition: 0.3s;
}