<p><%= @resource.email %>様</p>
<p>いつも東京Picnicをご利用いただき、ありがとうございます。<p>

<p>パスワード変更を承りました。</p>
<p>下記のリンクから、再設定をお願いいたします。</p>

<p><%= link_to 'パスワード変更を行う', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>こちらのメールには返信できかねます。<p>
<p>こちらのメールにお心当たりがない場合は、こちらのメールを破棄してください。</p>
<p>今後も、ご愛顧賜りますよう、お願い申し上げます。<p>